.error-message {
  @apply overflow-hidden;

  &__header {
    @apply px-6 py-3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }

  &__title {
    @apply text-sm font-semibold;
    color: #ef4444;
  }

  &__body {
    @apply p-6;
  }

  &__text {
    @apply text-sm;
    color: #a0998c;
  }
}
